* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #929292;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: white
}

::-webkit-scrollbar-thumb {
  background: #dae0e2;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

button {
  background: none;
  border: none;
  outline: none;
}
.row {
  box-shadow: 1px 1px 10px #aaaaaa;
  height: 100vh;
  width: 300px;
  padding-top: 70px;
  overflow-y: scroll;
}

.a_row {
  background: white;
  box-shadow: 1px 1px 10px #aaaaaa;
  z-index: 999;
}

.b_row {
  background: white;
  box-shadow: 1px 1px 10px #aaaaaa;
  z-index: 99;
}

#c_Row {
  background: white;
  flex-grow: 3;
}

#header {
  height: 60px;
  box-shadow: 1px 1px 10px #bfbfbf;
  width: 100%;
  position: absolute;
  justify-content: space-between;
  padding: 10px;
  z-index: 9999;
  background: #ffffff;
}

nav {
  position: absolute;
  z-index: 999999;
}

.burger {
  font-size: 1.2em;
  cursor: pointer;
}

#navigation {
  background: rgb(194, 194, 194);
  position: fixed;
  width: 300px;
  height: 100%;
  left: 0;
  top: 60px;
}

.navItem a {
  text-decoration: none;
  color: #5d5d5d;
  padding: 20px;
  display: block;
}

.navItem a:hover {
  background: grey;
}

.Title__Medium {
  padding: 10px;
}

.list__Item {
  align-items: center;
  margin-top: 10px;
}

.avatarSmall {
  width: 50px;
  height: 50px;
  background: grey;
  border-radius: 50%;
}

.RowTitle {
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.add {
  background: #76d3f7;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

#map {
  width: 100%;
  height: 400px;
}

.Motorbike {
  background: rgb(250, 250, 116);
  background-size: cover;
  background-image: url(./Images/noun_Scooter_1006120.png);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.Bike {
  background: rgb(148, 148, 80);
  background-size: cover;
  background-image: url(./Images/noun_Bike_1950231.png);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.E-Bike {
  background: rgb(252, 84, 84);
  background-size: cover;
  background-image: url(./Images/noun_e\ bike_1981529.png);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.Car {
  background: rgb(172, 158, 211);
  background-image: url(./Images/noun_Car\ Blank_461761.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.order__Title {
  background: white;
  padding: 10px;
  justify-content: space-between;
  border: 1px solid #d6f4ff;
}

.order__id {
  font-weight: bold;
}

.orderBox {
  background: #D6F4FF;
  padding: 10px;
  font-size: 0.8em;
}

.order__List {
  padding: 20px;
}

.route {
  background: #d6f4ff;
  padding: 10px;
  justify-content: space-between;
}

.listWrapper {
  padding: 10px;
}

button:focus {
  outline: none;
}

.icon {
  padding: 5px;
}

.delete {
  color: rgb(255, 66, 66);
  cursor: pointer;
  text-align: center; 
  border: none
}


.iconBox {
  padding: 5px;
}
.marker {
  font-size: 3em;
  color: red;
}