* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  height: calc(100vh - 60px);
}

#a_Row {
  background: white;
  flex-grow: 1;
}

#b_Row {
  background: #F9F9F9;
  flex-grow: 1;
}

#c_Row {
  background: white;
  flex-grow: 3;
}

#header {
  height: 60px;
  box-shadow: 1px 1px 10px grey;
  width: 100%;
  position: relative;
  justify-content: space-between;
  padding: 10px;
}

nav {
  position: absolute;
  z-index: 999999;
}

.burger {
  font-size: 1.2em;
  cursor: pointer;
}

#navigation {
  background: rgb(194, 194, 194);
  position: fixed;
  width: 300px;
  height: 100%;
  left: 0;
  top: 60px;
}

.navItem {
 
}

.navItem a {
  text-decoration: none;
  color: #5d5d5d;
  padding: 20px;
  display: block;
}
.navItem a:hover {
  background: grey;
}